<h1> Welcome to your '<%= @listing.title %>' bidding page! </h1>


<div>
  <%= simple_form_for [@listing, @bid] do |b| %>
    <%= b.input :value, label: "Place your bid" %>
    <div ><%= b.button :submit, :class => 'btn btn-info'%></div>
  <% end %>

  <%# redirect to ???? %>
</div>
