
<div>

  <h1>Seabay</h1>
  <h2>The Home Auction Marketplace</h2>
  <p>Find and bid on homes of your wildest imaginations</p>
  <button>Bid Now</button>
  <button>Sign up</button>

  <h3>Popular Listings</h3>
  <p>Find me in app/views/pages/home.html.erb</p>
    <%  @listings.each do |listing| %>
      <div>
        <p><%= listing.title %></p>
        <p><%= listing.description %></p>
        <p><%= listing.price %></p>
      </div>
    <% end %>



</div>
