
<div class="container">
  <div>
    <h1> Welcome to Seabay</h1>
    <h2>The Home Auction Marketplace</h2>
    <p>Find and bid on homes of your wildest imaginations</p>
    <button>Bid Now</button>
    <button>Sign up</button>
  </div>

  <h3>Popular Listings</h3>

<div class="row">
    <%  @listings.each do |listing| %>
      <div class="col-12 col-md-6 col-lg-4 pb-4">
        <%= render listing %>
      </div>
    <% end %>
</div>
