.container {
  font-family: Tahoma, sans-serif;
}
h1 {
  font-size: 40px;
  font-weight: 600;
  font-family: Tahoma, sans-serif;
}
.card-title {
  font-size: 32px;
  font-weight: 500;
  font-family: Tahoma, sans-serif;
}

.card-subtitle {
  font-size: 24px;
  font-weight: 300;
  font-family: Tahoma, sans-serif;
}

.card-text{
  font-size: 20px;
  font-weight: 300;
  font-family:Tahoma, sans-serif;
}
